* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Genos-VariableFont_wght";
  src: url(../font/genos/Genos-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Plaster-Regular";
  src: url(../font/Plaster-Regular.ttf);
}
body {
  font-family: "Genos-VariableFont_wght";
}

header {
  background-image: url(../img/Screenshot_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
header div {
  width: 100%;
  height: 100px;
  display: inline-block;
}
header div h1 {
  font-family: "Plaster-Regular";
  color: #11E2FF;
  font-size: xx-large;
  padding: 15px;
  text-align: center;
}
header nav {
  background-color: #731F73;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  height: 60px;
}
header nav div {
  width: 20%;
}
header nav div .nav_logo {
  width: 80px;
  height: 100px;
  text-align: left;
  float: left;
  padding: 15px;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  margin: 20px;
  display: inline-block;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 40px;
}

footer {
  background-color: #731F73;
  color: white;
  text-align: right;
  padding: 10px;
}
footer img {
  width: 50px;
  height: auto;
  text-align: right;
  display: inline-block;
}
footer a {
  text-align: right;
  display: inline-block;
}
footer nav {
  background-color: #731F73;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer nav ul {
  list-style-type: none;
}
footer nav ul li {
  margin: 20px;
  display: inline-block;
}
footer nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
}

main {
  /** Estilos para Inicio **/
}
main .section_inicio {
  display: flex;
  justify-content: space-around;
}
main .section_inicio img {
  width: 400px;
  height: auto;
}
main .section_inicio p {
  font-size: larger;
  color: #731F73;
  width: 400px;
  padding: 60px;
}

.nosotros {
  display: flex;
  justify-content: space-around;
}
.nosotros .section_nosotros {
  display: block;
  text-align: center;
}
.nosotros .section_nosotros img {
  width: 300px;
  height: auto;
}
.nosotros .section_nosotros h2 {
  font-family: "Genos-VariableFont_wght";
  color: #731F73;
  font-size: larger;
  padding: 15px;
  text-align: center;
}
.nosotros .section_nosotros h3 {
  font-family: "Genos-VariableFont_wght";
  color: #731F73;
  font-size: larger;
  padding: 15px;
  text-align: center;
}
.nosotros .section_nosotros h4 {
  font-family: "Genos-VariableFont_wght";
  color: #731F73;
  font-size: larger;
  padding: 15px;
  text-align: center;
}
.nosotros .section_nosotros p {
  font-size: larger;
  color: #731F73;
  width: 400px;
  padding: 60px;
}

/** Estilos para Servicios **/
.servicios {
  display: flex;
  justify-content: space-around;
}
.servicios .section_servicios {
  display: block;
  text-align: center;
}
.servicios .section_servicios img {
  width: 300px;
  height: auto;
}
.servicios .section_servicios h2 {
  font-family: "Genos-VariableFont_wght";
  color: #731F73;
  font-size: larger;
  padding: 15px;
  text-align: center;
}
.servicios .section_servicios h3 {
  font-family: "Genos-VariableFont_wght";
  color: #731F73;
  font-size: larger;
  padding: 15px;
  text-align: center;
}
.servicios .section_servicios h4 {
  font-family: "Genos-VariableFont_wght";
  color: #731F73;
  font-size: larger;
  padding: 15px;
  text-align: center;
}
.servicios .section_servicios p {
  font-size: larger;
  color: #731F73;
  width: 400px;
  padding: 60px;
}

/** Estilos para Contacto **/
.contacto {
  /**display: flex;
  justify-content: space-around;*/
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 4fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "section_contacto section_contacto";
}
.contacto .section_contacto {
  /**display: block;*/
  display: flex;
  justify-content: center;
  text-align: center;
  color: #731F73;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}
.contacto .section_contacto img {
  width: 400px;
  height: auto;
  text-align: center;
}
.contacto .section_contacto h2 {
  font-family: Plaster-Regular;
  color: #731F73;
  font-size: larger;
  padding: 15px;
  text-align: center;
}
.contacto .section_contacto div {
  display: block;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}
.contacto .section_contacto div label {
  font-family: "Genos-VariableFont_wght";
  font-size: medium;
}
.contacto .section_contacto div input {
  width: 100%;
  font-family: "Genos-VariableFont_wght";
  font-size: medium;
  height: 30px;
  border-radius: 5px;
}
.contacto .section_contacto div textarea {
  width: 100%;
  font-family: "Genos-VariableFont_wght";
  font-size: medium;
  height: 90px;
  border-radius: 5px;
}

/** Estilos para Ingresar **/
.ingresar {
  /**display: flex;
  justify-content: space-around;*/
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "section_ingresar section_ingresar";
}
.ingresar .section_ingresar {
  /**display: block;*/
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  color: #731F73;
}
.ingresar .section_ingresar img {
  width: 400px;
  height: auto;
  text-align: center;
}
.ingresar .section_ingresar h2 {
  font-family: "Genos-VariableFont_wght";
  color: #731F73;
  font-size: larger;
  padding: 15px;
  text-align: center;
}
.ingresar .section_ingresar h3 {
  font-family: "Genos-VariableFont_wght";
  color: #731F73;
  font-size: larger;
  padding: 15px;
  text-align: center;
}
.ingresar .section_ingresar div {
  display: block;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}
.ingresar .section_ingresar div label {
  font-family: "Genos-VariableFont_wght";
  font-size: medium;
}
.ingresar .section_ingresar div input {
  width: 100%;
  font-family: "Genos-VariableFont_wght";
  font-size: medium;
  height: 30px;
  border-radius: 5px;
}
.ingresar #log_in {
  background-image: url(../img/Screenshot_14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

/** Common styles **/
/** Pseudo classes uses **/
.button {
  background-color: #731F73;
  border: none;
  color: white;
  font-family: "Genos-VariableFont_wght";
  font-size: medium;
  height: 50px;
  border-radius: 5px;
  border: #731F73 1px solid;
}
.button:hover {
  border: #973497 2px solid;
  background-color: #973497;
  font-size: larger;
}

.inputText {
  border: #11E2FF 1px solid;
}
.inputText:hover, .inputText:focus {
  border: #11E2FF 2px solid;
}
.inputText:after {
  border: #11E2FF 1px solid;
}

.inputTextArea {
  border: #11E2FF 1px solid;
}
.inputTextArea:hover, .inputTextArea:focus {
  border: #11E2FF 2px solid;
}
.inputTextArea:after {
  border: #11E2FF 1px solid;
}

/** Media queries for web and mobile - responsive */
@media screen and (max-width: 768px) {
  .contacto {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "section_contacto section_contacto";
  }
  .ingresar {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "section_ingresar section_ingresar";
  }
}
@media screen and (max-width: 480px) {
  .contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "section_contacto" "section_contacto";
  }
  .ingresar {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "section_ingresar" "section_ingresar";
  }
}

/*# sourceMappingURL=style.css.map */
