
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: $font-main;
    src: url(../font/genos/Genos-VariableFont_wght.ttf);
}

@font-face{
    font-family: $font-brand;
    src: url(../font/Plaster-Regular.ttf);
}

body{
    font-family: $font-main;
}